/*Stylizacja body*/
body{
	background-image: url("background/y-so-serious-white.png");
	/*	pipes.png -
		topography.png +/-
		what-the-hex.png +/-
		y-so-serious-white.png +
		concrete_seamless.png  + */
	/* Background pattern from Toptal Subtle Patterns */
	font-family: 'Raleway', sans-serif;
	color: #595959;
	font-size: 1.2rem;
	text-align:center;
	padding: 1rem;
}

h1{
	text-transform: uppercase;
	font-style: bold;
}

.head{
	margin-top:50px;
	border-top: 2px solid #008000;
	border-bottom: 2px solid #008000;
	width: 100%;
}

/*-----Navbar--------*/

.nav-item{
	border-right: 1px solid #595959;
	text-align:center;
	padding-right:1rem;
	padding-left:1rem;
}

.nav-item:first-child{
	border-left: 1px solid #595959;
}

.bi{
	font-size: 20px;
}

/*---Footer-----*/

#footer {
	position: absolute;
    width: 100%;
    bottom: 0;
}

/*---Containery---*/
.registration{
	background-color: #f2f2f2;
	border-radius: 10px;
	border-bottom: 2px solid #595959;
}


@media (max-width: 1000px) {
	
	.nav-item{
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #595959;
		padding-top: 1.3rem;
		padding-bottom: 1.3rem;
	}
	
	.nav-item:first-child{
		border-left: none;
		border-top: 1px solid #595959;
	}
}

@media (max-width: 1210px) {
	.head{
		margin-top:75px;
	}
	
	.nav-item{
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	}
}

